USE [master]

CREATE DATABASE [LuxuryOfficeApartmentRentalManagementDB]
GO

USE [LuxuryOfficeApartmentRentalManagementDB]

GO
USE [LuxuryOfficeApartmentRentalManagementDB]
GO
/****** Object:  Table [dbo].[AnhPhong]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhPhong](
	[MaAnh] [varchar](10) NOT NULL,
	[DuongDanAnh] [nvarchar](2048) NOT NULL,
	[ThuTuHienThi] [int] NOT NULL,
	[LaAnhDaiDien] [bit] NOT NULL,
	[MaPhong] [varchar](10) NOT NULL,
 CONSTRAINT [AnhPhong_pkey] PRIMARY KEY CLUSTERED 
(
	[MaAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnhToaNha]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhToaNha](
	[MaAnh] [varchar](10) NOT NULL,
	[DuongDanAnh] [nvarchar](2048) NOT NULL,
	[ThuTuHienThi] [int] NOT NULL,
	[LaAnhDaiDien] [bit] NOT NULL,
	[MaToaNha] [varchar](10) NOT NULL,
 CONSTRAINT [AnhToaNha_pkey] PRIMARY KEY CLUSTERED 
(
	[MaAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHoaDon] [varchar](10) NOT NULL,
	[MaHopDong] [varchar](10) NOT NULL,
	[MaPhong] [varchar](10) NOT NULL,
	[MaDichVu] [varchar](10) NOT NULL,
	[ChiSoCu] [int] NULL,
	[ChiSoMoi] [int] NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
 CONSTRAINT [ChiTietHoaDon_pkey] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaHopDong] ASC,
	[MaPhong] ASC,
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHopDong]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHopDong](
	[MaHopDong] [varchar](10) NOT NULL,
	[MaPhong] [varchar](10) NOT NULL,
	[NgayBatDau] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[GiaThoaThuan] [decimal](18, 2) NOT NULL,
 CONSTRAINT [ChiTietHopDong_pkey] PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC,
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachDenToken]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachDenToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [varchar](2048) NOT NULL,
	[ThoiGianHetHan] [datetime] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [DanhSachDenToken_pkey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChi]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChi](
	[MaDiaChi] [varchar](10) NOT NULL,
	[DiaChiChiTiet] [nvarchar](255) NOT NULL,
	[MaPhuongXa] [varchar](10) NOT NULL,
 CONSTRAINT [DiaChi_pkey] PRIMARY KEY CLUSTERED 
(
	[MaDiaChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDichVu] [varchar](10) NOT NULL,
	[TenDichVu] [nvarchar](100) NOT NULL,
	[DonViTinh] [nvarchar](50) NOT NULL,
	[GiaHienTai] [decimal](18, 2) NOT NULL,
 CONSTRAINT [DichVu_pkey] PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVuPhong]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVuPhong](
	[MaHopDong] [varchar](10) NOT NULL,
	[MaPhong] [varchar](10) NOT NULL,
	[MaDichVu] [varchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayBatDau] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NULL,
 CONSTRAINT [DichVuPhong_pkey] PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC,
	[MaPhong] ASC,
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [varchar](10) NOT NULL,
	[MaHopDong] [varchar](10) NOT NULL,
	[ThangThanhToan] [tinyint] NOT NULL,
	[NamThanhToan] [smallint] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayHetHan] [datetime] NULL,
	[TrangThaiThanhToan] [nvarchar](20) NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
 CONSTRAINT [HoaDon_pkey] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHopDong] [varchar](10) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[TienCoc] [decimal](18, 2) NOT NULL,
	[TrangThaiHopDong] [nvarchar](20) NOT NULL,
	[AnhHopDong] [nvarchar](2048) NULL,
	[MaKhachHang] [varchar](10) NOT NULL,
	[MaNhanVien] [varchar](10) NOT NULL,
 CONSTRAINT [HopDong_pkey] PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[CCCD] [char](12) NOT NULL,
	[SoDienThoai] [varchar](10) NOT NULL,
	[GioiTinh] [nvarchar](20) NULL,
	[NgaySinh] [datetime] NULL,
	[MaTaiKhoan] [varchar](10) NOT NULL,
	[MaDiaChi] [varchar](10) NULL,
 CONSTRAINT [KhachHang_pkey] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiSuDung]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiSuDung](
	[MaDinhDanh] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[CCCD] [char](12) NOT NULL,
	[SoDienThoai] [varchar](10) NOT NULL,
	[HinhAnh] [nvarchar](2048) NULL,
	[LoaiCuTru] [nvarchar](20) NOT NULL,
	[TrangThaiCuTru] [nvarchar](20) NOT NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](20) NULL,
	[MaHopDong] [varchar](10) NOT NULL,
	[MaPhong] [varchar](10) NOT NULL,
	[NgayXoa] [datetime2](7) NULL,
 CONSTRAINT [NguoiSuDung_pkey] PRIMARY KEY CLUSTERED 
(
	[MaDinhDanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [varchar](10) NOT NULL,
	[MaTaiKhoan] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](10) NOT NULL,
	[CCCD] [char](12) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [datetime] NULL,
	[MaDiaChi] [varchar](10) NULL,
 CONSTRAINT [NhanVien_pkey] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuGiahan]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuGiahan](
	[MaPhieuGiaHan] [varchar](10) NOT NULL,
	[MaHopDong] [varchar](10) NOT NULL,
	[MaPhong] [varchar](10) NOT NULL,
	[NgayKetThucMoi] [datetime] NOT NULL,
	[NgayLapPhieu] [datetime] NOT NULL,
 CONSTRAINT [PhieuGiahan_pkey] PRIMARY KEY CLUSTERED 
(
	[MaPhieuGiaHan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [varchar](10) NOT NULL,
	[SoPhong] [nvarchar](10) NOT NULL,
	[LoaiPhong] [nvarchar](20) NOT NULL,
	[Tang] [int] NOT NULL,
	[DienTich] [decimal](8, 2) NOT NULL,
	[GiaThue] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
	[MoTa] [nvarchar](1000) NULL,
	[SoNguoiToiDa] [tinyint] NOT NULL,
	[NgayXoa] [datetime2](7) NULL,
	[MaToaNha] [varchar](10) NOT NULL,
 CONSTRAINT [Phong_pkey] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongXa]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongXa](
	[MaPhuongXa] [varchar](10) NOT NULL,
	[TenPhuongXa] [nvarchar](100) NOT NULL,
	[MaTinhThanh] [varchar](10) NOT NULL,
 CONSTRAINT [PhuongXa_pkey] PRIMARY KEY CLUSTERED 
(
	[MaPhuongXa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [varchar](10) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[TrangThaiTaiKhoan] [nvarchar](20) NOT NULL,
	[MaXacThuc] [nvarchar](255) NULL,
	[HanXacThuc] [datetime] NULL,
	[SoLanDangNhapSai] [tinyint] NOT NULL,
	[SoLanGuiLai] [tinyint] NOT NULL,
	[SoLanNhapSai] [tinyint] NOT NULL,
	[ThoiGianKhoaGui] [datetime] NULL,
	[MaVaiTro] [varchar](10) NOT NULL,
 CONSTRAINT [TaiKhoan_pkey] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[MaThanhToan] [varchar](10) NOT NULL,
	[MaHoaDon] [varchar](10) NOT NULL,
	[NgayThanhToan] [datetime] NOT NULL,
	[PhuongThucTT] [nvarchar](20) NOT NULL,
	[SoTienTra] [decimal](18, 2) NOT NULL,
	[MaGiaoDich] [nvarchar](100) NULL,
	[NguoiNopTien] [nvarchar](255) NULL,
 CONSTRAINT [ThanhToan_pkey] PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhThanh]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhThanh](
	[MaTinhThanh] [varchar](10) NOT NULL,
	[TenTinhThanh] [nvarchar](100) NOT NULL,
 CONSTRAINT [TinhThanh_pkey] PRIMARY KEY CLUSTERED 
(
	[MaTinhThanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToaNha]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToaNha](
	[MaToaNha] [varchar](10) NOT NULL,
	[TenToaNha] [nvarchar](100) NOT NULL,
	[SoTang] [int] NOT NULL,
	[MoTa] [nvarchar](1000) NULL,
	[NgayXoa] [datetime2](7) NULL,
	[MaDiaChi] [varchar](10) NOT NULL,
 CONSTRAINT [ToaNha_pkey] PRIMARY KEY CLUSTERED 
(
	[MaToaNha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[MaVaiTro] [varchar](10) NOT NULL,
	[TenVaiTro] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
 CONSTRAINT [VaiTro_pkey] PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuCau]    Script Date: 21/06/2026 3:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuCau](
	[MaYeuCau] [varchar](10) NOT NULL,
	[MaPhong] [varchar](10) NOT NULL,
	[MaKhachHang] [varchar](10) NOT NULL,
	[MaNhanVien] [varchar](10) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[LoaiYeuCau] [nvarchar](20) NOT NULL,
	[NgayHen] [datetime] NOT NULL,
	[NoiDung] [nvarchar](4000) NULL,
 CONSTRAINT [YeuCau_pkey] PRIMARY KEY CLUSTERED 
(
	[MaYeuCau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AnhPhong] ([MaAnh], [DuongDanAnh], [ThuTuHienThi], [LaAnhDaiDien], [MaPhong]) VALUES (N'IMG3RHSN6X', N'/static/uploads/images-1782004994495-236058152.jpg', 7, 0, N'P3RHSNFC7')
INSERT [dbo].[AnhPhong] ([MaAnh], [DuongDanAnh], [ThuTuHienThi], [LaAnhDaiDien], [MaPhong]) VALUES (N'IMG3RHSN9F', N'/static/uploads/images-1782004994485-249871432.jpg', 4, 0, N'P3RHSNFC7')
INSERT [dbo].[AnhPhong] ([MaAnh], [DuongDanAnh], [ThuTuHienThi], [LaAnhDaiDien], [MaPhong]) VALUES (N'IMG3RHSNB1', N'/static/uploads/images-1782004994487-657490033.jpg', 5, 0, N'P3RHSNFC7')
GO
INSERT [dbo].[AnhToaNha] ([MaAnh], [DuongDanAnh], [ThuTuHienThi], [LaAnhDaiDien], [MaToaNha]) VALUES (N'IMG3A3Z020', N'/static/uploads/images-1782004183330-104372726.jpg', 3, 0, N'TN3A3YZVWI')
INSERT [dbo].[AnhToaNha] ([MaAnh], [DuongDanAnh], [ThuTuHienThi], [LaAnhDaiDien], [MaToaNha]) VALUES (N'IMG3A3Z08W', N'/static/uploads/images-1782004183347-169171519.jpg', 6, 0, N'TN3A3YZVWI')
INSERT [dbo].[AnhToaNha] ([MaAnh], [DuongDanAnh], [ThuTuHienThi], [LaAnhDaiDien], [MaToaNha]) VALUES (N'IMG3A3Z09Z', N'/static/uploads/images-1782004183356-551418669.jpg', 8, 0, N'TN3A3YZVWI')
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaHopDong], [MaPhong], [MaDichVu], [ChiSoCu], [ChiSoMoi], [SoLuong], [DonGia]) VALUES (N'INVCMF4R9Y', N'HDCMEXZM8D', N'P3RHSNFC7', N'DV7LH29GYB', 0, 150, 150, CAST(4000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaHopDong], [MaPhong], [MaDichVu], [ChiSoCu], [ChiSoMoi], [SoLuong], [DonGia]) VALUES (N'INVCMF4R9Y', N'HDCMEXZM8D', N'P3RHSNFC7', N'DV7LH4MNYZ', 0, 10, 10, CAST(18000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaHopDong], [MaPhong], [MaDichVu], [ChiSoCu], [ChiSoMoi], [SoLuong], [DonGia]) VALUES (N'INVCMF4R9Y', N'HDCMEXZM8D', N'P3RHSNFC7', N'DV7LH54HCH', NULL, NULL, 1, CAST(8000000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[ChiTietHopDong] ([MaHopDong], [MaPhong], [NgayBatDau], [NgayKetThuc], [GiaThoaThuan]) VALUES (N'HDCMEXZM8D', N'P3RHSNFC7', CAST(N'2026-01-01T00:00:00.000' AS DateTime), CAST(N'2026-12-31T00:00:00.000' AS DateTime), CAST(8000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHopDong] ([MaHopDong], [MaPhong], [NgayBatDau], [NgayKetThuc], [GiaThoaThuan]) VALUES (N'HDCMEXZM8D', N'P3UC5DY1N', CAST(N'2026-01-01T00:00:00.000' AS DateTime), CAST(N'2026-12-31T00:00:00.000' AS DateTime), CAST(12000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHopDong] ([MaHopDong], [MaPhong], [NgayBatDau], [NgayKetThuc], [GiaThoaThuan]) VALUES (N'HDCMEZ0W9G', N'P3Q8HOFX9', CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2025-12-31T00:00:00.000' AS DateTime), CAST(7000000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[DanhSachDenToken] ON 

INSERT [dbo].[DanhSachDenToken] ([Id], [Token], [ThoiGianHetHan], [NgayTao]) VALUES (9, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiJUSzhPOFJaODlVIiwiZW1haWwiOiJjdW9uZ3ppcDJrNjZAZ21haWwuY29tIiwicm9sZSI6IkNVU1RPTUVSIiwiY3VzdG9tZXJJZCI6IktIOE84UlpMWUUiLCJpYXQiOjE3ODE5NTI5NjAsImV4cCI6MTc4MjU1Nzc2MH0.fBdlowrk8siaw2Kan9Km9Kn8_v-bUf2fMOosBZjIzVs', CAST(N'2026-06-27T10:56:00.000' AS DateTime), CAST(N'2026-06-21T00:58:08.373' AS DateTime))
INSERT [dbo].[DanhSachDenToken] ([Id], [Token], [ThoiGianHetHan], [NgayTao]) VALUES (10, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiJUS1M4N1dSMFpDIiwiZW1haWwiOiJhZG1pbkBsdXh1cnlyZW50YWwuY29tIiwicm9sZSI6IkFETUlOIiwiZW1wbG95ZWVJZCI6Ik5WUzg3V1JXTEMiLCJpYXQiOjE3ODE5MjUyNjQsImV4cCI6MTc4MjUzMDA2NH0.5S1Cgo3GEvGW-fZSmO11roxLwqi7sJylNk08rhAp3bw', CAST(N'2026-06-27T03:14:24.000' AS DateTime), CAST(N'2026-06-21T01:04:04.893' AS DateTime))
INSERT [dbo].[DanhSachDenToken] ([Id], [Token], [ThoiGianHetHan], [NgayTao]) VALUES (14, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiJUS1M4ODNEUDVMIiwiZW1haWwiOiJtYW5hZ2VyQGx1eHVyeXJlbnRhbC5jb20iLCJyb2xlIjoiUkVOVF9NR1IiLCJlbXBsb3llZUlkIjoiTlZTODgzRExRRCIsImlhdCI6MTc4MTk0NDU0MCwiZXhwIjoxNzgyNTQ5MzQwfQ.vnAGv3A_do2jA7sgupq9asDW0gcKJnvvMgtLSBikkmU', CAST(N'2026-06-27T08:35:40.000' AS DateTime), CAST(N'2026-06-21T03:30:11.143' AS DateTime))
SET IDENTITY_INSERT [dbo].[DanhSachDenToken] OFF
GO
INSERT [dbo].[DiaChi] ([MaDiaChi], [DiaChiChiTiet], [MaPhuongXa]) VALUES (N'DC3A3YZK8D', N'Thảo Điền', N'26824')
INSERT [dbo].[DiaChi] ([MaDiaChi], [DiaChiChiTiet], [MaPhuongXa]) VALUES (N'DC3FVB0B53', N'25 Nguyễn Gia Trí', N'26929')
INSERT [dbo].[DiaChi] ([MaDiaChi], [DiaChiChiTiet], [MaPhuongXa]) VALUES (N'DC3KV576VO', N'74 Nguyễn Khắc Tính', N'24133')
GO
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonViTinh], [GiaHienTai]) VALUES (N'DV7LH29GYB', N'Điện', N'kWh', CAST(4000.00 AS Decimal(18, 2)))
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonViTinh], [GiaHienTai]) VALUES (N'DV7LH4MNYZ', N'Nước', N'm3', CAST(18000.00 AS Decimal(18, 2)))
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonViTinh], [GiaHienTai]) VALUES (N'DV7LH54HCH', N'Tiền thuê phòng', N'Tháng', CAST(0.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[DichVuPhong] ([MaHopDong], [MaPhong], [MaDichVu], [SoLuong], [NgayBatDau], [NgayKetThuc]) VALUES (N'HDCMEXZM8D', N'P3RHSNFC7', N'DV7LH5K4WK', 1, CAST(N'2026-01-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[DichVuPhong] ([MaHopDong], [MaPhong], [MaDichVu], [SoLuong], [NgayBatDau], [NgayKetThuc]) VALUES (N'HDCMEXZM8D', N'P3RHSNFC7', N'DV8OD4NCPV', 4, CAST(N'2026-01-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[DichVuPhong] ([MaHopDong], [MaPhong], [MaDichVu], [SoLuong], [NgayBatDau], [NgayKetThuc]) VALUES (N'HDCMEXZM8D', N'P3RHSNFC7', N'DV8OD5E3M2', 2, CAST(N'2026-01-01T00:00:00.000' AS DateTime), NULL)
GO
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaHopDong], [ThangThanhToan], [NamThanhToan], [NgayTao], [NgayHetHan], [TrangThaiThanhToan], [TongTien]) VALUES (N'INVCMF4R9Y', N'HDCMEXZM8D', 1, 2026, CAST(N'2026-01-25T10:00:00.000' AS DateTime), CAST(N'2026-02-01T10:00:00.000' AS DateTime), N'Đã thanh toán', CAST(22846000.00 AS Decimal(18, 2)))
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaHopDong], [ThangThanhToan], [NamThanhToan], [NgayTao], [NgayHetHan], [TrangThaiThanhToan], [TongTien]) VALUES (N'INVCMF767V', N'HDCMEXZM8D', 2, 2026, CAST(N'2026-02-25T10:00:00.000' AS DateTime), CAST(N'2026-03-04T10:00:00.000' AS DateTime), N'Đã thanh toán', CAST(22842000.00 AS Decimal(18, 2)))
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaHopDong], [ThangThanhToan], [NamThanhToan], [NgayTao], [NgayHetHan], [TrangThaiThanhToan], [TongTien]) VALUES (N'INVCMF93MK', N'HDCMEXZM8D', 3, 2026, CAST(N'2026-03-25T10:00:00.000' AS DateTime), CAST(N'2026-04-01T10:00:00.000' AS DateTime), N'Đã thanh toán', CAST(23060000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[HopDong] ([MaHopDong], [NgayLap], [TienCoc], [TrangThaiHopDong], [AnhHopDong], [MaKhachHang], [MaNhanVien]) VALUES (N'HDCMEXZM8D', CAST(N'2026-01-01T00:00:00.000' AS DateTime), CAST(20000000.00 AS Decimal(18, 2)), N'Đang hiệu lực', NULL, N'KH2R4H2Q53', N'NV2R4HG7FI')
INSERT [dbo].[HopDong] ([MaHopDong], [NgayLap], [TienCoc], [TrangThaiHopDong], [AnhHopDong], [MaKhachHang], [MaNhanVien]) VALUES (N'HDCMEZ0W9G', CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(10000000.00 AS Decimal(18, 2)), N'Đã hết hạn', NULL, N'KH2R4H2Q53', N'NV2R4HG7FI')
INSERT [dbo].[HopDong] ([MaHopDong], [NgayLap], [TienCoc], [TrangThaiHopDong], [AnhHopDong], [MaKhachHang], [MaNhanVien]) VALUES (N'HDCMF077ZE', CAST(N'2026-03-01T00:00:00.000' AS DateTime), CAST(15000000.00 AS Decimal(18, 2)), N'Đã hủy', NULL, N'KH2R4H2Q53', N'NV2R4HG7FI')
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [CCCD], [SoDienThoai], [GioiTinh], [NgaySinh], [MaTaiKhoan], [MaDiaChi]) VALUES (N'KH2R4H2Q53', N'Nguyen Van Khach', N'123456789013', N'0922333444', NULL, NULL, N'TK2R4H2CW9', NULL)
GO
INSERT [dbo].[NguoiSuDung] ([MaDinhDanh], [HoTen], [CCCD], [SoDienThoai], [HinhAnh], [LoaiCuTru], [TrangThaiCuTru], [NgaySinh], [GioiTinh], [MaHopDong], [MaPhong], [NgayXoa]) VALUES (N'DDCMG3I40A', N'Nguyễn Văn Z', N'900000000009', N'0910000009', N'/static/uploads/image-1782020188655-836909346.png', N'Cư dân', N'Tạm trú', CAST(N'1989-12-31T00:00:00.000' AS DateTime), N'Nữ', N'HDCMF1XEHV', N'P4E8L5YT3', NULL)
INSERT [dbo].[NguoiSuDung] ([MaDinhDanh], [HoTen], [CCCD], [SoDienThoai], [HinhAnh], [LoaiCuTru], [TrangThaiCuTru], [NgaySinh], [GioiTinh], [MaHopDong], [MaPhong], [NgayXoa]) VALUES (N'DDCMG3I7AI', N'Nguyễn Văn Y', N'900000000005', N'0910000005', NULL, N'Cư dân', N'Tạm trú', CAST(N'1989-12-31T00:00:00.000' AS DateTime), N'Nữ', N'HDCMF1GFEO', N'P83PE41K7', NULL)
INSERT [dbo].[NguoiSuDung] ([MaDinhDanh], [HoTen], [CCCD], [SoDienThoai], [HinhAnh], [LoaiCuTru], [TrangThaiCuTru], [NgaySinh], [GioiTinh], [MaHopDong], [MaPhong], [NgayXoa]) VALUES (N'DDCMG3IEWV', N'Nguyễn Văn X', N'900000000007', N'0910000007', NULL, N'Cư dân', N'Tạm trú', CAST(N'1989-12-31T00:00:00.000' AS DateTime), N'Nữ', N'HDCMF1RY2W', N'P8KH2LTNK', NULL)
GO
INSERT [dbo].[NhanVien] ([MaNhanVien], [MaTaiKhoan], [HoTen], [SoDienThoai], [CCCD], [GioiTinh], [NgaySinh], [MaDiaChi]) VALUES (N'NV2R4GA2LY', N'TK2R4GA76M', N'Admin Manager', N'0911222333', N'123456789012', NULL, NULL, NULL)
INSERT [dbo].[NhanVien] ([MaNhanVien], [MaTaiKhoan], [HoTen], [SoDienThoai], [CCCD], [GioiTinh], [NgaySinh], [MaDiaChi]) VALUES (N'NV2R4HG7FI', N'TK2R4HG40Y', N'Nguyen Quon Ly', N'0933444555', N'123456789014', NULL, NULL, NULL)
INSERT [dbo].[NhanVien] ([MaNhanVien], [MaTaiKhoan], [HoTen], [SoDienThoai], [CCCD], [GioiTinh], [NgaySinh], [MaDiaChi]) VALUES (N'NV2R4HONO9', N'TK2R4HOUGM', N'Tran Bao Ve', N'0944555666', N'123456789015', NULL, NULL, NULL)
GO
INSERT [dbo].[PhieuGiahan] ([MaPhieuGiaHan], [MaHopDong], [MaPhong], [NgayKetThucMoi], [NgayLapPhieu]) VALUES (N'HDCMG3X9BL', N'HDCMEXZM8D', N'P3UC5DY1N', CAST(N'2027-07-01T00:00:00.000' AS DateTime), CAST(N'2026-06-21T05:31:15.600' AS DateTime))
INSERT [dbo].[PhieuGiahan] ([MaPhieuGiaHan], [MaHopDong], [MaPhong], [NgayKetThucMoi], [NgayLapPhieu]) VALUES (N'HDCMG3XBNA', N'HDCMF1GFEO', N'P804H8OTF', CAST(N'2027-08-28T00:00:00.000' AS DateTime), CAST(N'2026-06-21T05:31:15.600' AS DateTime))
INSERT [dbo].[PhieuGiahan] ([MaPhieuGiaHan], [MaHopDong], [MaPhong], [NgayKetThucMoi], [NgayLapPhieu]) VALUES (N'HDCMG3XFR4', N'HDCMEXZM8D', N'P3RHSNFC7', CAST(N'2027-07-01T00:00:00.000' AS DateTime), CAST(N'2026-06-21T05:31:15.600' AS DateTime))
GO
INSERT [dbo].[Phong] ([MaPhong], [SoPhong], [LoaiPhong], [Tang], [DienTich], [GiaThue], [TrangThai], [MoTa], [SoNguoiToiDa], [NgayXoa], [MaToaNha]) VALUES (N'P3Q8HOFX9', N'P101', N'Căn hộ', 1, CAST(65.00 AS Decimal(8, 2)), CAST(7000000.00 AS Decimal(18, 2)), N'Còn trống', N'Căn hộ dịch vụ hiện đại với đầy đủ tiện nghi gồm khu vực bếp, phòng khách nhỏ, phòng ngủ và phòng tắm riêng. Không gian phù hợp cho cá nhân hoặc cặp đôi thuê dài hạn.', 5, NULL, N'TN3A3YZVWI')
INSERT [dbo].[Phong] ([MaPhong], [SoPhong], [LoaiPhong], [Tang], [DienTich], [GiaThue], [TrangThai], [MoTa], [SoNguoiToiDa], [NgayXoa], [MaToaNha]) VALUES (N'P3RHSNFC7', N'P201', N'Căn hộ', 2, CAST(70.00 AS Decimal(8, 2)), CAST(8000000.00 AS Decimal(18, 2)), N'Đang thuê', N'Căn hộ có thiết kế rộng rãi, được trang bị máy lạnh, tivi, bếp đầy đủ tiện nghi và không gian sinh hoạt riêng biệt, phù hợp cho khách hàng có nhu cầu ở lâu dài.', 2, NULL, N'TN3A3YZVWI')
INSERT [dbo].[Phong] ([MaPhong], [SoPhong], [LoaiPhong], [Tang], [DienTich], [GiaThue], [TrangThai], [MoTa], [SoNguoiToiDa], [NgayXoa], [MaToaNha]) VALUES (N'P3UC5DY1N', N'P102', N'Văn phòng', 1, CAST(90.00 AS Decimal(8, 2)), CAST(12000000.00 AS Decimal(18, 2)), N'Đang thuê', N'Văn phòng trống với diện tích rộng, không gian làm việc thoáng, thiết kế hiện đại, phù hợp cho doanh nghiệp hoặc cá nhân có nhu cầu thuê làm văn phòng dài hạn.', 15, NULL, N'TN3A3YZVWI')
GO
INSERT [dbo].[PhuongXa] ([MaPhuongXa], [TenPhuongXa], [MaTinhThanh]) VALUES (N'00004', N'Phường Ba Đình', N'01')
INSERT [dbo].[PhuongXa] ([MaPhuongXa], [TenPhuongXa], [MaTinhThanh]) VALUES (N'00008', N'Phường Ngọc Hà', N'01')
INSERT [dbo].[PhuongXa] ([MaPhuongXa], [TenPhuongXa], [MaTinhThanh]) VALUES (N'00025', N'Phường Giảng Võ', N'01')
GO
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [Email], [MatKhau], [TrangThaiTaiKhoan], [MaXacThuc], [HanXacThuc], [SoLanDangNhapSai], [SoLanGuiLai], [SoLanNhapSai], [ThoiGianKhoaGui], [MaVaiTro]) VALUES (N'TK2R4GA76M', N'admin@luxuryrental.com', N'$2b$10$PAtFeXVk.uxLO5VZbmfuWOinlrBzRCsl0y4UPs50JejeEfNnR8rri', N'Kích hoạt', NULL, NULL, 0, 0, 0, NULL, N'ADMIN')
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [Email], [MatKhau], [TrangThaiTaiKhoan], [MaXacThuc], [HanXacThuc], [SoLanDangNhapSai], [SoLanGuiLai], [SoLanNhapSai], [ThoiGianKhoaGui], [MaVaiTro]) VALUES (N'TK2R4H2CW9', N'customer@luxuryrental.com', N'$2b$10$PAtFeXVk.uxLO5VZbmfuWOinlrBzRCsl0y4UPs50JejeEfNnR8rri', N'Kích hoạt', NULL, NULL, 0, 0, 0, NULL, N'CUSTOMER')
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [Email], [MatKhau], [TrangThaiTaiKhoan], [MaXacThuc], [HanXacThuc], [SoLanDangNhapSai], [SoLanGuiLai], [SoLanNhapSai], [ThoiGianKhoaGui], [MaVaiTro]) VALUES (N'TK2R4HG40Y', N'manager@luxuryrental.com', N'$2b$10$PAtFeXVk.uxLO5VZbmfuWOinlrBzRCsl0y4UPs50JejeEfNnR8rri', N'Kích hoạt', NULL, NULL, 0, 0, 0, NULL, N'RENT_MGR')
GO
INSERT [dbo].[ThanhToan] ([MaThanhToan], [MaHoaDon], [NgayThanhToan], [PhuongThucTT], [SoTienTra], [MaGiaoDich], [NguoiNopTien]) VALUES (N'PAYCMF5W3K', N'INVCMF4R9Y', CAST(N'2026-01-26T10:00:00.000' AS DateTime), N'Chuyển khoản', CAST(22846000.00 AS Decimal(18, 2)), N'TX1782019874372275', N'Nguyen Van Khach')
INSERT [dbo].[ThanhToan] ([MaThanhToan], [MaHoaDon], [NgayThanhToan], [PhuongThucTT], [SoTienTra], [MaGiaoDich], [NguoiNopTien]) VALUES (N'PAYCMF859K', N'INVCMF767V', CAST(N'2026-02-26T10:00:00.000' AS DateTime), N'Chuyển khoản', CAST(22842000.00 AS Decimal(18, 2)), N'TX1782019874453126', N'Nguyen Van Khach')
INSERT [dbo].[ThanhToan] ([MaThanhToan], [MaHoaDon], [NgayThanhToan], [PhuongThucTT], [SoTienTra], [MaGiaoDich], [NguoiNopTien]) VALUES (N'PAYCMF9MFN', N'INVCMF93MK', CAST(N'2026-03-26T10:00:00.000' AS DateTime), N'Chuyển khoản', CAST(23060000.00 AS Decimal(18, 2)), N'TX1782019874506930', N'Nguyen Van Khach')
GO
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (N'01', N'Thành phố Hà Nội')
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (N'04', N'Tỉnh Cao Bằng')
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (N'08', N'Tỉnh Tuyên Quang')
GO
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro], [MoTa]) VALUES (N'ADMIN', N'Quản lý', N'Quản trị viên hệ thống')
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro], [MoTa]) VALUES (N'CUSTOMER', N'Khách hàng', N'Khách hàng thuê phòng/căn hộ')
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro], [MoTa]) VALUES (N'RENT_MGR', N'Quản lý thuê', N'Nhân viên quản lý cho thuê')
GO
INSERT [dbo].[YeuCau] ([MaYeuCau], [MaPhong], [MaKhachHang], [MaNhanVien], [TrangThai], [NgayTao], [LoaiYeuCau], [NgayHen], [NoiDung]) VALUES (N'YCCMG4D26E', N'P43QX9R90', N'KH2R4H2Q53', NULL, N'Chờ duyệt', CAST(N'2026-06-21T05:31:15.613' AS DateTime), N'Xem phòng', CAST(N'2026-06-23T05:31:15.613' AS DateTime), N'Tôi muốn đặt lịch xem phòng P301 tòa nhà Sunny Apartment vào cuối tuần.')
INSERT [dbo].[YeuCau] ([MaYeuCau], [MaPhong], [MaKhachHang], [MaNhanVien], [TrangThai], [NgayTao], [LoaiYeuCau], [NgayHen], [NoiDung]) VALUES (N'YCCMG4ZUFK', N'P3Z0PRN4O', N'KH2R4H2Q53', N'NV2R4HG7FI', N'Đã chấp nhận', CAST(N'2026-06-19T05:31:15.637' AS DateTime), N'Xem phòng', CAST(N'2026-06-22T05:31:15.637' AS DateTime), N'Tôi muốn xem phòng P101 Sunny Apartment.')
INSERT [dbo].[YeuCau] ([MaYeuCau], [MaPhong], [MaKhachHang], [MaNhanVien], [TrangThai], [NgayTao], [LoaiYeuCau], [NgayHen], [NoiDung]) VALUES (N'YCCMG5NMF9', N'P3Q8HOFX9', N'KH2R4H2Q53', N'NV2R4HG7FI', N'Từ chối', CAST(N'2026-06-15T05:31:15.660' AS DateTime), N'Xem phòng', CAST(N'2026-06-16T05:31:15.660' AS DateTime), N'Yêu cầu xem phòng P101')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [DanhSachDenToken_Token_key]    Script Date: 21/06/2026 3:37:31 PM ******/
ALTER TABLE [dbo].[DanhSachDenToken] ADD  CONSTRAINT [DanhSachDenToken_Token_key] UNIQUE NONCLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [KhachHang_CCCD_key]    Script Date: 21/06/2026 3:37:31 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [KhachHang_CCCD_key] UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [KhachHang_MaTaiKhoan_key]    Script Date: 21/06/2026 3:37:31 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [KhachHang_MaTaiKhoan_key] UNIQUE NONCLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [KhachHang_SoDienThoai_key]    Script Date: 21/06/2026 3:37:31 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [KhachHang_SoDienThoai_key] UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NguoiSuDung_CCCD_key]    Script Date: 21/06/2026 3:37:31 PM ******/
ALTER TABLE [dbo].[NguoiSuDung] ADD  CONSTRAINT [NguoiSuDung_CCCD_key] UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NguoiSuDung_SoDienThoai_key]    Script Date: 21/06/2026 3:37:31 PM ******/
ALTER TABLE [dbo].[NguoiSuDung] ADD  CONSTRAINT [NguoiSuDung_SoDienThoai_key] UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NhanVien_CCCD_key]    Script Date: 21/06/2026 3:37:31 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [NhanVien_CCCD_key] UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NhanVien_MaTaiKhoan_key]    Script Date: 21/06/2026 3:37:31 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [NhanVien_MaTaiKhoan_key] UNIQUE NONCLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NhanVien_SoDienThoai_key]    Script Date: 21/06/2026 3:37:31 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [NhanVien_SoDienThoai_key] UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [TaiKhoan_Email_key]    Script Date: 21/06/2026 3:37:31 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [TaiKhoan_Email_key] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnhPhong] ADD  CONSTRAINT [AnhPhong_ThuTuHienThi_df]  DEFAULT ((1)) FOR [ThuTuHienThi]
GO
ALTER TABLE [dbo].[AnhPhong] ADD  CONSTRAINT [AnhPhong_LaAnhDaiDien_df]  DEFAULT ((0)) FOR [LaAnhDaiDien]
GO
ALTER TABLE [dbo].[AnhToaNha] ADD  CONSTRAINT [AnhToaNha_ThuTuHienThi_df]  DEFAULT ((1)) FOR [ThuTuHienThi]
GO
ALTER TABLE [dbo].[AnhToaNha] ADD  CONSTRAINT [AnhToaNha_LaAnhDaiDien_df]  DEFAULT ((0)) FOR [LaAnhDaiDien]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  CONSTRAINT [ChiTietHoaDon_SoLuong_df]  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[ChiTietHopDong] ADD  CONSTRAINT [ChiTietHopDong_GiaThoaThuan_df]  DEFAULT ((0)) FOR [GiaThoaThuan]
GO
ALTER TABLE [dbo].[DanhSachDenToken] ADD  CONSTRAINT [DanhSachDenToken_NgayTao_df]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DichVu] ADD  CONSTRAINT [DichVu_GiaHienTai_df]  DEFAULT ((0)) FOR [GiaHienTai]
GO
ALTER TABLE [dbo].[DichVuPhong] ADD  CONSTRAINT [DichVuPhong_SoLuong_df]  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [HoaDon_NgayTao_df]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [HoaDon_TrangThaiThanhToan_df]  DEFAULT ('Chua thanh toan') FOR [TrangThaiThanhToan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [HoaDon_TongTien_df]  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HopDong] ADD  CONSTRAINT [HopDong_NgayLap_df]  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HopDong] ADD  CONSTRAINT [HopDong_TienCoc_df]  DEFAULT ((0)) FOR [TienCoc]
GO
ALTER TABLE [dbo].[HopDong] ADD  CONSTRAINT [HopDong_TrangThaiHopDong_df]  DEFAULT ('Con hieu luc') FOR [TrangThaiHopDong]
GO
ALTER TABLE [dbo].[NguoiSuDung] ADD  CONSTRAINT [NguoiSuDung_LoaiCuTru_df]  DEFAULT ('Cu dân') FOR [LoaiCuTru]
GO
ALTER TABLE [dbo].[NguoiSuDung] ADD  CONSTRAINT [NguoiSuDung_TrangThaiCuTru_df]  DEFAULT ('T?m trú') FOR [TrangThaiCuTru]
GO
ALTER TABLE [dbo].[PhieuGiahan] ADD  CONSTRAINT [PhieuGiahan_NgayLapPhieu_df]  DEFAULT (getdate()) FOR [NgayLapPhieu]
GO
ALTER TABLE [dbo].[Phong] ADD  CONSTRAINT [Phong_LoaiPhong_df]  DEFAULT ('Can ho') FOR [LoaiPhong]
GO
ALTER TABLE [dbo].[Phong] ADD  CONSTRAINT [Phong_TrangThai_df]  DEFAULT ('Còn Tr?ng') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Phong] ADD  CONSTRAINT [Phong_SoNguoiToiDa_df]  DEFAULT ((2)) FOR [SoNguoiToiDa]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [TaiKhoan_TrangThaiTaiKhoan_df]  DEFAULT ('Kich hoat') FOR [TrangThaiTaiKhoan]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [TaiKhoan_SoLanDangNhapSai_df]  DEFAULT ((0)) FOR [SoLanDangNhapSai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [TaiKhoan_SoLanGuiLai_df]  DEFAULT ((0)) FOR [SoLanGuiLai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [TaiKhoan_SoLanNhapSai_df]  DEFAULT ((0)) FOR [SoLanNhapSai]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  CONSTRAINT [ThanhToan_NgayThanhToan_df]  DEFAULT (getdate()) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  CONSTRAINT [ThanhToan_PhuongThucTT_df]  DEFAULT ('Chuyen khoan') FOR [PhuongThucTT]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  CONSTRAINT [ThanhToan_SoTienTra_df]  DEFAULT ((0)) FOR [SoTienTra]
GO
ALTER TABLE [dbo].[YeuCau] ADD  CONSTRAINT [YeuCau_TrangThai_df]  DEFAULT ('Cho duyet') FOR [TrangThai]
GO
ALTER TABLE [dbo].[YeuCau] ADD  CONSTRAINT [YeuCau_NgayTao_df]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[YeuCau] ADD  CONSTRAINT [YeuCau_LoaiYeuCau_df]  DEFAULT ('Xem phong') FOR [LoaiYeuCau]
GO
ALTER TABLE [dbo].[AnhPhong]  WITH CHECK ADD  CONSTRAINT [AnhPhong_MaPhong_fkey] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[AnhPhong] CHECK CONSTRAINT [AnhPhong_MaPhong_fkey]
GO
ALTER TABLE [dbo].[AnhToaNha]  WITH CHECK ADD  CONSTRAINT [AnhToaNha_MaToaNha_fkey] FOREIGN KEY([MaToaNha])
REFERENCES [dbo].[ToaNha] ([MaToaNha])
GO
ALTER TABLE [dbo].[AnhToaNha] CHECK CONSTRAINT [AnhToaNha_MaToaNha_fkey]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [ChiTietHoaDon_MaDichVu_fkey] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVu] ([MaDichVu])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [ChiTietHoaDon_MaDichVu_fkey]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [ChiTietHoaDon_MaHoaDon_fkey] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [ChiTietHoaDon_MaHoaDon_fkey]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [ChiTietHoaDon_MaHopDong_MaPhong_fkey] FOREIGN KEY([MaHopDong], [MaPhong])
REFERENCES [dbo].[ChiTietHopDong] ([MaHopDong], [MaPhong])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [ChiTietHoaDon_MaHopDong_MaPhong_fkey]
GO
ALTER TABLE [dbo].[ChiTietHopDong]  WITH CHECK ADD  CONSTRAINT [ChiTietHopDong_MaHopDong_fkey] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
GO
ALTER TABLE [dbo].[ChiTietHopDong] CHECK CONSTRAINT [ChiTietHopDong_MaHopDong_fkey]
GO
ALTER TABLE [dbo].[ChiTietHopDong]  WITH CHECK ADD  CONSTRAINT [ChiTietHopDong_MaPhong_fkey] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[ChiTietHopDong] CHECK CONSTRAINT [ChiTietHopDong_MaPhong_fkey]
GO
ALTER TABLE [dbo].[DiaChi]  WITH CHECK ADD  CONSTRAINT [DiaChi_MaPhuongXa_fkey] FOREIGN KEY([MaPhuongXa])
REFERENCES [dbo].[PhuongXa] ([MaPhuongXa])
GO
ALTER TABLE [dbo].[DiaChi] CHECK CONSTRAINT [DiaChi_MaPhuongXa_fkey]
GO
ALTER TABLE [dbo].[DichVuPhong]  WITH CHECK ADD  CONSTRAINT [DichVuPhong_MaDichVu_fkey] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVu] ([MaDichVu])
GO
ALTER TABLE [dbo].[DichVuPhong] CHECK CONSTRAINT [DichVuPhong_MaDichVu_fkey]
GO
ALTER TABLE [dbo].[DichVuPhong]  WITH CHECK ADD  CONSTRAINT [DichVuPhong_MaHopDong_MaPhong_fkey] FOREIGN KEY([MaHopDong], [MaPhong])
REFERENCES [dbo].[ChiTietHopDong] ([MaHopDong], [MaPhong])
GO
ALTER TABLE [dbo].[DichVuPhong] CHECK CONSTRAINT [DichVuPhong_MaHopDong_MaPhong_fkey]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [HoaDon_MaHopDong_fkey] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [HoaDon_MaHopDong_fkey]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [HopDong_MaKhachHang_fkey] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [HopDong_MaKhachHang_fkey]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [HopDong_MaNhanVien_fkey] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [HopDong_MaNhanVien_fkey]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [KhachHang_MaDiaChi_fkey] FOREIGN KEY([MaDiaChi])
REFERENCES [dbo].[DiaChi] ([MaDiaChi])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [KhachHang_MaDiaChi_fkey]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [KhachHang_MaTaiKhoan_fkey] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [KhachHang_MaTaiKhoan_fkey]
GO
ALTER TABLE [dbo].[NguoiSuDung]  WITH CHECK ADD  CONSTRAINT [NguoiSuDung_MaHopDong_MaPhong_fkey] FOREIGN KEY([MaHopDong], [MaPhong])
REFERENCES [dbo].[ChiTietHopDong] ([MaHopDong], [MaPhong])
GO
ALTER TABLE [dbo].[NguoiSuDung] CHECK CONSTRAINT [NguoiSuDung_MaHopDong_MaPhong_fkey]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [NhanVien_MaDiaChi_fkey] FOREIGN KEY([MaDiaChi])
REFERENCES [dbo].[DiaChi] ([MaDiaChi])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [NhanVien_MaDiaChi_fkey]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [NhanVien_MaTaiKhoan_fkey] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [NhanVien_MaTaiKhoan_fkey]
GO
ALTER TABLE [dbo].[PhieuGiahan]  WITH CHECK ADD  CONSTRAINT [PhieuGiahan_MaHopDong_MaPhong_fkey] FOREIGN KEY([MaHopDong], [MaPhong])
REFERENCES [dbo].[ChiTietHopDong] ([MaHopDong], [MaPhong])
GO
ALTER TABLE [dbo].[PhieuGiahan] CHECK CONSTRAINT [PhieuGiahan_MaHopDong_MaPhong_fkey]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [Phong_MaToaNha_fkey] FOREIGN KEY([MaToaNha])
REFERENCES [dbo].[ToaNha] ([MaToaNha])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [Phong_MaToaNha_fkey]
GO
ALTER TABLE [dbo].[PhuongXa]  WITH CHECK ADD  CONSTRAINT [PhuongXa_MaTinhThanh_fkey] FOREIGN KEY([MaTinhThanh])
REFERENCES [dbo].[TinhThanh] ([MaTinhThanh])
GO
ALTER TABLE [dbo].[PhuongXa] CHECK CONSTRAINT [PhuongXa_MaTinhThanh_fkey]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [TaiKhoan_MaVaiTro_fkey] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTro] ([MaVaiTro])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [TaiKhoan_MaVaiTro_fkey]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [ThanhToan_MaHoaDon_fkey] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [ThanhToan_MaHoaDon_fkey]
GO
ALTER TABLE [dbo].[ToaNha]  WITH CHECK ADD  CONSTRAINT [ToaNha_MaDiaChi_fkey] FOREIGN KEY([MaDiaChi])
REFERENCES [dbo].[DiaChi] ([MaDiaChi])
GO
ALTER TABLE [dbo].[ToaNha] CHECK CONSTRAINT [ToaNha_MaDiaChi_fkey]
GO
ALTER TABLE [dbo].[YeuCau]  WITH CHECK ADD  CONSTRAINT [YeuCau_MaKhachHang_fkey] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[YeuCau] CHECK CONSTRAINT [YeuCau_MaKhachHang_fkey]
GO
ALTER TABLE [dbo].[YeuCau]  WITH CHECK ADD  CONSTRAINT [YeuCau_MaNhanVien_fkey] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[YeuCau] CHECK CONSTRAINT [YeuCau_MaNhanVien_fkey]
GO
ALTER TABLE [dbo].[YeuCau]  WITH CHECK ADD  CONSTRAINT [YeuCau_MaPhong_fkey] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[YeuCau] CHECK CONSTRAINT [YeuCau_MaPhong_fkey]
GO
USE [master]
GO
